
.tab-item{
    margin: 0;
    box-sizing: content-box;
    font-size: 75%;
    color:#FFFFFF;
    opacity: 1;
    word-wrap: break-word !important;
}

.tab-item.active{
    background-color: #cccccc;
}

.title{
    font-size : 80% !important;
    color : white !important;

}

.menu-left > .bar-header{
    background : #ffffff url("../asset/istana.jpg") no-repeat center !important;
    opacity: 0.8;
}

.item-avatar i:first-child, .item-avatar .item-img {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px;
}

.item.item-trns {
    background-color: rgba(0, 0, 0, 0);
}

.slide-in-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
    -webkit-transform: translateX(0);
    transform: translateX(0); }

.slide-in-right.ng-leave, .slide-in-right > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms; }

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed , .video-container video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.row{
    height: 100%;
}

.scroll {
    min-height: 100%;
}

i.ion-social-facebook {
     font-size: xx-large;
}

i.ion-social-twitter{
    font-size: xx-large;
}

body {
    -webkit-user-select: auto !important;
}
.scroll {
    -webkit-user-select: inherit;
}

.image-loader-container {
    margin: 9px;
    max-width: 81px;
    max-height: 81px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #e5e5e5;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.beritautamaFill{
    background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}
.scroll {
    min-width: 100%;
}

.popover {
    height: auto !important;
}
.popover ion-header-bar {
    position: relative;
}
.popover ion-content {
    top: 0;
    position: relative;
}

.page-title{
    margin-top : -10px;
    color: #ffffff;
    font-size: .9em;
}
.page-sub-title{
    margin-top: -25px;
    color: #ffffff;
    font-size : .9em;
}

.margin-10top{
    margin-top : -10px !important;
}

.margin-5bottom{
    margin-top : 5px !important;
}

.myHeight{
    height : 87%;
}


.custom-dark{
    background-color: #777777 !important;
}

.myCoverSlide{
    background : #ffffff url("../asset/istana.jpg") no-repeat center !important;
    opacity: 0.8;
}

.suggestSearch{
    background-color: #4d4d4d;
    color : #ffffff;
    padding-left: 7.5px;
    padding-right: 7.5px;
    font-size: 0.8em;
}