<ion-nav-bar class="bar-dark custom-dark" ng-init="setMode('beritautama')">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>


<ion-view >
    <ion-nav-title>
        <div class="page-title">{{headerTitle}}</div>
        <div class="page-sub-title">{{headerSubtitle}}</div>
    </ion-nav-title>

  <ion-content scroll="true" has-bouncing="true" class="myHeight" lazy-scroll ng-switch="selected" ng-class="checkClass()" ng-cloak="">

      <ion-refresher
              ng-if="selected != 'beritautama' "
              on-refresh="loadData(mode)">
      </ion-refresher>

      <span ng-switch-when="beritautama">
        <ng-include src="'templates/berita/beritautama.html'"></ng-include>
      </span>

      <span ng-switch-when="KEMENSETNEG">
        <ng-include src="'templates/berita/kemensetneg.html'"></ng-include>
      </span>

      <span ng-switch-when="presiden">
        <ng-include src="'templates/berita/presiden.html'"></ng-include>
      </span>

      <span ng-switch-when="artikel">
        <ng-include src="'templates/berita/artikel.html'"></ng-include>
      </span>

      <span ng-switch-when="serba">
        <ng-include src="'templates/berita/serba.html'"></ng-include>
      </span>

      <ion-infinite-scroll ng-if="!noMoreData && selected != 'beritautama' " on-infinite="loadData(mode,currentOffset+20,true)" distance="2%"></ion-infinite-scroll>

  </ion-content>
</ion-view>


    <div class="tabs tabs-dark custom-dark">
        <a class="tab-item" ng-class="{active: isActive('beritautama')}" ng-click="setMode('beritautama')">
            <span ng-if="option.bahasa == 'id' ">BERITA FOTO</span>
            <span ng-if="option.bahasa == 'en' ">MAIN NEWS</span>
        </a>
        <a class="tab-item" ng-class="{active: isActive('KEMENSETNEG')}" ng-click="setMode('KEMENSETNEG')">
            <span ng-if="option.bahasa == 'id' ">KEMENSETNEG</span>
            <span ng-if="option.bahasa == 'en' ">KEMENSETNEG</span>
        </a>
        <a class="tab-item" ng-class="{active: isActive('presiden')}" ng-click="setMode('presiden')">
             <span ng-if="option.bahasa == 'id' ">PRESIDEN & PEMERINTAHAN</span>
            <span ng-if="option.bahasa == 'en' ">PRESIDENT & GOVERNMENT</span>
        </a>
        <a class="tab-item" ng-class="{active: isActive('artikel')}" ng-click="setMode('artikel')">
            <span ng-if="option.bahasa == 'id' ">ARTIKEL</span>
            <span ng-if="option.bahasa == 'en' ">ARTICLE</span>
        </a>
        <a class="tab-item" ng-class="{active: isActive('serba')}" ng-click="setMode('serba')">
            <span ng-if="option.bahasa == 'id' ">SERBA-SERBI</span>
            <span ng-if="option.bahasa == 'en' ">VARIOUS</span>
        </a>

    </div>
    <!--
<ion-tabs class="tabs-dark">
    <ion-scroll direction="x">
      <ion-tab title="BERITA UTAMA"  on-select="setMode('inbox')" > </ion-tab>
      <ion-tab title="KEMENSETNEG"  on-select="setMode('compose')" > </ion-tab>
      <ion-tab style=" white-space: normal !important;" title="PRESIDEN & PEMERINTAHAN"  on-select="setMode('compose')" > </ion-tab>
      <ion-tab title="ARTIKEL"  on-select="setMode('compose')" > </ion-tab>
      <ion-tab title="SERBA-SERBI"  on-select="setMode('compose')" > </ion-tab>
    </ion-scroll>
</ion-tabs>
-->

</ion-nav-bar>