<ion-nav-bar class="bar-dark custom-dark">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-view>
        <ion-nav-title>
            <div class="page-title">{{headerTitle}}</div>
            <div class="page-sub-title">{{headerSubtitle}}</div>
        </ion-nav-title>

        <ion-content class="myHeight" lazy-scroll>

        <!--<span ng-if="data.length >0">-->
        <!--<a class="item item-thumbnail-left" ng-repeat="row in data" ng-click="goDetail(data[$index].post_id,$index)"  >-->
        <!--<img image-lazy-loader="lines" image-lazy-src="{{config.cdn + row.media[row.post_id].cover.media_guid}}">-->
        <!--<h2>{{row.post_title}}</h2>-->
        <!--<p>{{row.post_excerpt}}</p>-->
        <!--</a>-->


        <!--</span>-->
        <!--<span  ng-if="selected == 'video'">-->
        <div class="row" ng-repeat="images in data" ng-if="$index % 3 === 0 && selected == 'video' ">

            <div class="col col-33" ng-if="$index < data.length">
                <img ng-click="goDetail(data[$index].post_id,$index)" width="100%" height="100%" err-src="asset/no_image.png" ng-src="{{config.cdn + data[$index].media[data[$index].post_id].cover.media_guid}}" width="100%" />
            </div>
            <div class="col col-33" ng-if="$index + 1 < data.length">
                <img ng-click="goDetail(data[$index+1].post_id,$index+1)" err-src="asset/no_image.png" ng-src="{{config.cdn + data[$index+1].media[data[$index+1].post_id].cover.media_guid}}" width="100%" />
            </div>
            <div class="col col-33" ng-if="$index + 2 < data.length">
                <img ng-click="goDetail(data[$index+2].post_id,$index+2)" err-src="asset/no_image.png" ng-src="{{config.cdn + data[$index+2].media[data[$index+2].post_id].cover.media_guid}}" width="100%" />
            </div>

        </div>
        <!--</span>-->

        <ion-gallery  ng-if="items.length > 0 && selected == 'foto' " ion-gallery-items="items" ></ion-gallery>

        <div class="row row-center" ng-if="items.length <= 0">
            <div class="col col-center">
                <center>
                    <h3 ng-if="option.bahasa == 'id' ">Tidak ada data untuk ditampilkan</h3>
                    <h3 ng-if="option.bahasa == 'en' ">There is no data to display</h3>
                </center>
            </div>
        </div>



        </ion-content>
    </ion-view>


    <div class="tabs tabs-dark">
        <a class="tab-item" ng-class="{active: isActive('foto')}" ng-click="setMode('foto')">
            <span ng-if="option.bahasa == 'id' ">GALERI FOTO</span>
            <span ng-if="option.bahasa == 'en' ">PHOTO GALLERY</span>
        </a>
        <a class="tab-item" ng-class="{active: isActive('video')}" ng-click="setMode('video')">
            <span ng-if="option.bahasa == 'id' ">GALERI VIDEO</span>
            <span ng-if="option.bahasa == 'en' ">VIDEO GALLERY</span>
        </a>

    </div>

</ion-nav-bar>