<ion-nav-bar class="bar-dark">

  <ion-view>
    <ion-nav-title>
      <div class="page-title">HEADING</div>
      <div class="page-sub-title">Sub Heading</div>
    </ion-nav-title>
  </ion-view>

</ion-nav-bar>