<ion-nav-bar class="bar-dark custom-dark">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
<ion-view >
    <ion-nav-title>
        <div class="page-title">{{headerTitle}}</div>
        <div class="page-sub-title">{{headerSubtitle}}</div>
    </ion-nav-title>
    <ion-content class="myHeight">

      <div class="list card" ng-if="data.length > 0 ">
          <a class="item item-body" ng-repeat="row in data" href="{{row.url}}" target="_blank">
              <img class="full-image" ng-src="{{config.cdn + row.image}}">
              <h2>
                  {{row.title}}
              </h2>
          </a>
      </div>

  </ion-content>
</ion-view>


</ion-nav-bar>