<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>


    <ion-nav-view name="homeContent"></ion-nav-view>
    <ion-nav-view name="menuContent"></ion-nav-view>
    <ion-nav-view name="beritaContent"></ion-nav-view>
    <ion-nav-view name="galeriContent"></ion-nav-view>
    <ion-nav-view name="infoContent"></ion-nav-view>
    <ion-nav-view name="pengaturanContent"></ion-nav-view>
    <ion-nav-view name="tautanContent"></ion-nav-view>
    <ion-nav-view name="sharerContent"></ion-nav-view>


  </ion-side-menu-content>

  <ion-side-menu side="left">
      <ion-header-bar>
          <h1 class="title">{{headerTitle + " " + headerSubtitle}}</h1>
      </ion-header-bar>
      <!--
      <ion-header-bar class="bar-profile">
          <div class="profile">
              <img class="profile-picture" src="asset/ic_launcher.png" />
              <p class="name">{{headerTitle}}</p>
              <p class="name">{{headerSubtitle}}</p>
          </div>
      </ion-header-bar>
-->
      <ion-content>
      <ion-list>
          <ion-item menu-close class="item-avatar item-text-wrap" href="#/app/berita">
              <img src="asset/ic_berita.png"/>
           <h3 ng-if="option.bahasa == 'id' ">Berita</h3>
           <h3 ng-if="option.bahasa == 'en' ">News</h3>

           <h5 ng-if="option.bahasa == 'id' ">Kumpulan berita Setneg</h5>
           <h5 ng-if="option.bahasa == 'en' ">Setneg's news collections</h5>

        </ion-item>
        <ion-item menu-close class="item-avatar item-text-wrap" href="#/app/galeri">
            <img src="asset/ic_galeri.png"/>
           <h3 ng-if="option.bahasa == 'id' ">Galeri</h3>
           <h3 ng-if="option.bahasa == 'en' ">Gallery</h3>

            <h5 ng-if="option.bahasa == 'id' ">Kumpulan galeri foto dan video</h5>
            <h5 ng-if="option.bahasa == 'en' ">Gallery photo and video collections</h5>

        </ion-item>
        <ion-item menu-close class="item-avatar item-text-wrap" href="#/app/info">
            <img src="asset/ic_ip.png"/>
          <h3 ng-if="option.bahasa == 'id' ">Info Penting</h3>
          <h3 ng-if="option.bahasa == 'en' ">Important Information</h3>

            <h5 ng-if="option.bahasa == 'id' ">Kumpulan Info Penting</h5>
            <h5 ng-if="option.bahasa == 'en' ">Important information collections</h5>
        </ion-item>
        <ion-item menu-close class="item-avatar item-text-wrap" href="#/app/pengaturan">
            <img src="asset/ic_setting.png"/>
         <h3 ng-if="option.bahasa == 'id' ">Pengaturan</h3>
          <h3 ng-if="option.bahasa == 'en' ">Settings</h3>

            <h5 ng-if="option.bahasa == 'id' ">Pengaturan aplikasi</h5>
            <h5 ng-if="option.bahasa == 'en' ">Application settings</h5>

        </ion-item>
        <ion-item menu-close class="item-avatar item-text-wrap" href="#/app/sharer">
            <img src="asset/ic_share.png"/>
            <h3 ng-if="option.bahasa == 'id' ">Kirim ke Teman</h3>
          <h3 ng-if="option.bahasa == 'en' ">Share to Friends</h3>

            <h5 ng-if="option.bahasa == 'id' ">Bagikan aplikasi ke teman</h5>
            <h5 ng-if="option.bahasa == 'en' ">Share app to your friends</h5>

        </ion-item>
          <ion-item menu-close class="item-avatar item-text-wrap" href="#/app/tautan">
              <img src="asset/ic_link.png"/>
              <h3 ng-if="option.bahasa == 'id' ">Tautan Langsung</h3>
              <h3 ng-if="option.bahasa == 'en' ">Direct Link</h3>

              <h5 ng-if="option.bahasa == 'id' ">Daftar tautan langsung</h5>
              <h5 ng-if="option.bahasa == 'en' ">List of direct external links</h5>

          </ion-item>
          <!--
          <ion-item class="item-avatar item-text-wrap"ng-click="closeApp()">
              <img src="asset/ic_close.png"/>
              <h3 ng-if="option.bahasa == 'id' ">Keluar</h3>
              <h3 ng-if="option.bahasa == 'en' ">Close</h3>

              <h5 ng-if="option.bahasa == 'id' ">Keluar dari aplikasi</h5>
              <h5 ng-if="option.bahasa == 'en' ">Exit from application</h5>

          </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
