<ion-modal-view>
    <ion-header-bar class="bar-dark">
            <h1 class="title">Album Galeri </h1>
        <span class="left-buttons">
            <button class="button button-icon ion-arrow-left-c" ng-click="hideModal()"></button>
        </span>
        <h1 class="title margin-10top">{{headerTitle}}</h1>
        <h1 class="title margin-5bottom">{{headerSubtitle}}</h1>
    </ion-header-bar>

    <ion-content has-bouncing="true" class="has-header" ng-switch="selected">
        <span ng-switch-when="foto" >
            <ion-gallery ion-gallery-items="items" ng-if="items.length > 0" ></ion-gallery>

             <div class="row row-center" ng-if="items.length <= 0">
            <div class="col col-center">
                <center>
                    <h3 ng-if="option.bahasa == 'id' ">Tidak ada foto untuk ditampilkan</h3>
                    <h3 ng-if="option.bahasa == 'en' ">There is no picture to display</h3>
                </center>
            </div>
        </div>

        </span>




        <span ng-switch-when="video">

            <center><h4>  {{titleVideo}}</h4></center>
            <div class="video-container">
            <!--<div>-->
                    <!--<iframe src="{{urlVideo}}" frameborder="0" width="560" height="315"></iframe>-->
            <!--<video width="auto" height="200" controls="true">-->
                         <!--<source ng-src="{{urlVideo}}" />-->
                 <!--</video>-->
                <video controls="true" width="auto" height="200">
                         <source ng-src="{{urlVideo}}" />
                     </video>
            </div>




         </span>


    </ion-content>

</ion-modal-view>