<ion-modal-view>
    <ion-header-bar class="bar-dark">
        <!--<h1 class="title">Detail Berita </h1>-->
        <span class="left-buttons">
            <button class="button button-icon ion-arrow-left-c" ng-click="hideModal()"></button>
        </span>
    </ion-header-bar>

    <ion-content has-bouncing="true" class="has-header">



    </ion-content>

</ion-modal-view>