
<ion-modal-view>
    <header class="bar bar-header bar-dark">
        <div class="buttons">
            <button class="button button-icon ion-arrow-left-c" ng-click="hideModal()"></button>
        </div>
        <h1 class="title margin-10top">{{headerTitle}}</h1>
        <h1 class="title margin-5bottom">{{headerSubtitle}}</h1>
         <div class="buttons">
        </div>
        </div>
    </header>

    <ion-content has-bouncing="true" class="has-header" overflow-scroll="true">

        <div class="list card">

            <div class="item item-body">
                <img class="full-image" err-src="asset/no_image.png" ng-src="{{detailConfig.cdn + detailData.media[0].cover.media_guid}}">
                <!--<h2><b>{{data[selectedIndex].post_title}}</b></h2>-->
                <!--<p>{{data[selectedIndex].post_date}}</p>-->

                <p ng-bind-html="detailData.post_content"></p>
                <!--<p ng-bind-html="detailData.post_content"></p>-->

                <div>
                    <h4 ng-if="option.bahasa == 'id'"  style="float:left" class="">Dibaca {{detailData.count_post}} kali</h4>
                    <h4 ng-if="option.bahasa == 'en'"  style="float:left" class="">Read {{detailData.count_post}} time(s)</h4>

                    <!--<p style="float:right">Share : </p>-->
                    <h4 style="float:right">
                        <img ng-click="shareFB(detailData.post_title,null,detailData.url_read)" height="30" width="30" src="asset/ic_facebook.png"/>
                        <img ng-click="shareTwitter(detailData.post_title,null,detailData.url_read)" height="30" width="30" src="asset/ic_twit.png"/>
                        <img  ng-click="shareAnywhere(detailData.post_title,null,detailData.url_read)" height="30" width="30" src="asset/ic_share.png"/>
                     </h4>
                </div>

                <!--<p  ng-if="option.bahasa == 'id'" ><a href="#" class="subdued">Dibaca {{detailData.count_post}} kali</a></p>-->
                <!--<p  ng-if="option.bahasa == 'en'" ><a href="#" class="subdued">Read {{detailData.count_post}} time(s)</a></p>-->

                <!--<p>-->
                    <!--Share-->
                    <!--&nbsp;&nbsp; <a href="#" ng-click="shareFB(detailData.post_title,null,detailData.url_read)" class=""><i class="icon icon-right ion-social-facebook"></i></a>-->
                    <!--&nbsp;&nbsp; <a href="#" ng-click="shareTwitter(detailData.post_title,null,detailData.url_read)" class=""><i class="icon icon-right ion-social-twitter"></i></a>-->
                    <!--<a href="#" ng-click="shareAnywhere(detailData.post_title,null,detailData.url_read)" class=""><i class="icon icon-right ion-share"></i></a>-->

                <!--</p>-->
            </div>

             <ion-scroll direction="x" zooming="false" class="wide-as-needed">
                 <span ng-repeat="row in dataAttachment">
                     <img width="300" height="150" ng-if="row.mime_type == 'image/jpeg' " class="" ng-src="{{row.url_media}}">
                     <!--<iframe ng-src="{{urlVideo}}" ng-if="mimeType == 'video/mp4' " frameborder="0" width="300" height="150"></iframe>-->
                     <video controls="true" width="300" height="150" ng-if="row.mime_type == 'video/mp4'">
                         <source ng-src="{{row.url_m3u8}}" />
                     </video>

                      <img ng-click="goPdf(row.url_pdf)" target="_blank" width="300" height="150" ng-if="row.mime_type == 'application/pdf' " src="asset/pdf.jpg">
                 </span>
            </ion-scroll>


            <div class="item">
                <h4 ng-if="option.bahasa == 'id' ">Berita Terkait</h4>
                <h4 ng-if="option.bahasa == 'en' ">Related News</h4>
                <div class="item" ng-repeat="related in detailData.related" ng-click="goDetailBerita(related.ori,true)" ng-if="detailData.related.length > 0">
                    <span><h5>{{related.post_title}}</h5></span>
                </div>

                <div class="item" ng-if="detailData.related.length <= 0">
                    <span ng-if="option.bahasa == 'id'" ><h5>Tidak ada artikel terkait.</h5></span>
                    <span ng-if="option.bahasa == 'en'" ><h5>No related news.</h5></span>
                </div>

            </div>

        </div>


    </ion-content>

</ion-modal-view>