<ion-nav-bar class="bar-dark custom-dark">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
<ion-view>
    <ion-nav-title>
        <div class="page-title">{{headerTitle}}</div>
        <div class="page-sub-title">{{headerSubtitle}}</div>
    </ion-nav-title>

  <ion-content class="myHeight">
      <div class="list">
          <label class="item item-input item-select">
              <div class="input-label">
                  <span ng-if="option.bahasa == 'id' "> Pilih Bahasa </span>
                  <span ng-if="option.bahasa == 'en' "> Select Language </span>
                </div>
              <select ng-model="option.bahasa">
                  <option value="id">Bahasa Indonesia</option>
                  <option value="en">English</option>
              </select>
          </label>

      </div>
  </ion-content>
</ion-view>


</ion-nav-bar>