<ion-popover-view>
    <ion-content>
        <div class="list">
            <a class="item" ng-click="shareAnywhere(detailData.post_title,null,detailData.url_read)">
                Share to..
            </a>
        </div>
    </ion-content>
</ion-popover-view>