<ion-modal-view>
    <header class="bar bar-header bar-dark">
        <!--<h1 class="title" ng-if="config.bahasa = 'en' ">Search</h1>-->
         <span class="left-buttons">
            <button class="button button-icon ion-arrow-left-c" ng-click="hideModal()"></button>
        </span>
        <h1 class="title margin-10top">{{headerTitle}}</h1>
        <h1 class="title margin-5bottom">{{headerSubtitle}}</h1>
    </header>

    <ion-content has-bouncing="true" class="has-header">

      <div class="list" ng-if="dataSearch.length > 0 ">
            <a class="item item-body" href="#" ng-repeat="row in dataSearch" ng-click="goDetailBerita(row.post_id,true);" ng-if="row.post_status == 'publish' ">
                <h2>{{row.post_title}}</h2>
                <p>{{row.post_date}}</p>
            </a>
        </div>

        <div class="row row-center" ng-if="data.length <= 0">
            <div class="col col-center">
                <center>
                    <h3 ng-if="option.bahasa == 'id' ">Tidak ada data untuk ditampilkan</h3>
                    <h3 ng-if="option.bahasa == 'en' ">There is no data to display</h3>
                </center>
            </div>
        </div>

        <div class="row row-center" ng-if="data.length <= 0">
            <div class="col col-center">
                <center>
                    <h3 ng-if="option.bahasa == 'id' ">Tidak ada data untuk ditampilkan</h3>
                    <h3 ng-if="option.bahasa == 'en' ">There is no data to display</h3>
                </center>
            </div>
        </div>

    </ion-content>

</ion-modal-view>