<ion-nav-bar class="bar-dark custom-dark">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
<ion-view>
    <ion-nav-title>
        <div class="page-title">{{headerTitle}}</div>
        <div class="page-sub-title">{{headerSubtitle}}</div>
    </ion-nav-title>

  <ion-content class="myHeight">
      <ion-list>
           <ion-item class="item-avatar item-text-wrap" ng-click="shareFB('Aplikasi Setneg Mobile IOS',null,sharer.mobile)">
               <a><i class="icon ion-social-facebook"></i></a>
               <h4 ng-if="option.bahasa == 'id' ">Share ke Facebook</h4>
               <h4 ng-if="option.bahasa == 'en' ">Share to Facebook</h4>
           </ion-item>
          <ion-item class="item-avatar item-text-wrap" ng-click="shareTwitter('Aplikasi Setneg Mobile IOS',null,sharer.mobile)">
              <a> <i class="icon ion-social-twitter"></i></a>
              <h4 ng-if="option.bahasa == 'id' ">Share ke Twitter</h4>
              <h4 ng-if="option.bahasa == 'en' ">Share to Twitter</h4>
          </ion-item>
          <ion-item class="item-avatar item-text-wrap" ng-click="shareAnywhere('Aplikasi Setneg Mobile IOS',null,sharer.mobile)">
              <a>  <i class="icon ion-share"></i> </a>
              <h4 ng-if="option.bahasa == 'id' ">Share ke ...</h4>
              <h4 ng-if="option.bahasa == 'en' ">Share to ...</h4>
          </ion-item>
      </ion-list>
  </ion-content>
</ion-view>



</ion-nav-bar>