<ion-pane style="height:100%;opacity: 1;">

    <div class="list">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input ng-enter="searchBerita(keywordSearch)" type="search" ng-model="keywordSearch" placeholder="{{PHolderSearch}}"  />
            </label>
            <button class="button button-small" ng-click="searchBerita(keywordSearch)">
                <i class="icon ion-ios-search-strong"></i>
            </button>
        </div>
        <div class="item item-text-wrap">
            <h5 ng-if="option.bahasa == 'id' ">Pencarian favorit : {{favoriteData}} </h5>
            <h5 ng-if="option.bahasa == 'en' ">Search favorite : </h5>
        </div>
    </div>

    <!--<ion-slides  options="optionsSlider" slider="data.slider">-->
        <!--<ion-slide-page ng-repeat="row in data">-->
            <!--<div class="list card">-->
                <!--<div class="item item-body" ng-click="goDetailBerita(row.post_id);">-->
                    <!--<img style="transform:translateY(-10%);width:100%;height:80%"  ng-src="{{config.cdn + row.media[row.post_id].cover.media_guid}}">-->
                        <!--<p>{{row.post_title}}</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</ion-slide-page>-->
    <!--</ion-slides>-->

    <ion-slide-box show-pager="true" delegate-handle="" auto-play="true" ng-if="data.length">
        <ion-slide ng-repeat="row in data">
            <div class="list card">
            <div class="item item-body"  ng-click="goDetailBerita(row.post_id);">
            <img width="100%" height="180" err-src="asset/no_image.png"  ng-src="{{config.cdn + row.media[row.post_id].cover.media_guid}}">
            <h5>{{row.post_title}}</h5>
            </div>
            </div>
        </ion-slide>

    </ion-slide-box>

</ion-pane>


<!--
<div class="list card" ng-if="data.length > 0 ">
    <div class="item item-body" ng-click="goDetailBerita(data[0]);">
        <img class="full-image" ng-src="{{config.cdn + data[0].media[data[0].post_id].cover.media_guid}}">
        <h2>
            {{data[0].post_title}}
        </h2>
        <p>
            <a href="#" class="subdued">{{data[0].post_date}}</a>
        </p>
    </div>

    <a class="item item-thumbnail-left" href="#" ng-repeat="row in data" ng-click="goDetailBerita(row);" ng-if="$index != 0 ">
        <img ng-src="{{config.cdn + row.media[row.post_id].cover.media_guid}}">
        <h2>{{row.post_title}}</h2>
        <p>{{row.post_excerpt}}</p>
    </a>

</div>

-->

<!--
<div class="row row-center" ng-if="data.length <= 0">
    <div class="col col-center">
        <center>
            <h3 ng-if="option.bahasa == 'id' ">Tidak ada data untuk ditampilkan</h3>
            <h3 ng-if="option.bahasa == 'en' ">There is no data to display</h3>
        </center>
    </div>
</div>

-->