<ion-list>

    <div class="list card" ng-if="data.length > 0 ">
        <div class="item item-body" ng-click="goDetailBerita(data[0].post_id);">
            <img class="full-image" ng-src="{{config.cdn + data[0].media[data[0].post_id].cover.media_guid}}">
            <h2>
                {{data[0].post_title}}
            </h2>
            <p>
                <a href="#" class="subdued">{{getCustomDate(data[0].post_date)}}</a>
            </p>
        </div>


        <ion-item class="item-thumbnail-left" ng-repeat="row in data" ng-click="goDetailBerita(row.post_id);" ng-if="$index != 0 && row.post_status == 'publish' ">
        <!-- <img  image-lazy-loader="lines" image-lazy-src="{{config.cdn + row.media[row.post_id].cover.media_guid}}"> -->
        <img err-src="asset/no_image.png" ng-src="{{config.cdn + row.media[row.post_id].cover.media_guid}}">
        <h2>{{row.post_title}}</h2>
            <p>{{getCustomDate(row.post_date)}}</p>
    </ion-item>
    </div>
</ion-list>




    <!--<a class="item item-thumbnail-left" href="#" ng-repeat="row in data" ng-click="goDetailBerita(row.post_id);" ng-if="$index != 0 && row.post_status == 'publish' ">-->
        <!--<img image-lazy-loader="lines" image-lazy-src="{{config.cdn + row.media[row.post_id].cover.media_guid}}">-->
        <!--<h2>{{row.post_title}}</h2>-->
        <!--<p>{{row.post_excerpt}}</p>-->
    <!--</a>-->

<!--</div>-->


<div class="row row-center" ng-if="data.length <= 0">
    <div class="col col-center">
        <center>
            <h3 ng-if="option.bahasa == 'id' ">Tidak ada data untuk ditampilkan</h3>
            <h3 ng-if="option.bahasa == 'en' ">There is no data to display</h3>
        </center>
    </div>
</div>
